@import '../../styles/common.scss';

.header-container {
    z-index: 99;
    display: flex;
    justify-content: space-between;
    background-color: $colormain;
    color: $common-text-color;
    height: 40px;
    position: relative;

    .header-personal {
        color: $common-text-color;
        line-height: 40px;
        height: 40px;

        .header-welcome {
            margin-right: 24px;
        }

        .language-vi.active {
            color: red;
        }

        .language-en {
            &.active {
                color: red;
            }
            margin-right: 20px;
            margin-left: 8px;
        }

        .btn-logout {
            display: inline-block;
            padding: 0 10px;

            &:hover {
                background-color: darken($colormain, 5);
            }

            i {
                font-size: $base-size + 1px;
            }
        }
    }
}
